button{
    background: none;
    border: none;
    font-size: 2em;
    opacity: .8;
    padding: 0;
    outline: none;
    overflow: hidden;
    text-align: center;
}
button:hover{
    opacity: 1;
}
button i{
    position: relative;
    top: -6px;
    margin: -4px;
}
span{
    font-size: 2em;
}